body    {
    margin: 0;
}

header  {
    background: firebrick;
    height: 100px;
}

h1  {
    margin: 0px;
    line-height: 100px;
    padding-left: 15px;
    white-space: nowrap;
}

.flexbox-container   {
    display: flex;
    flex-direction: column;
}

.flexbox-content    {
    display: flex;
    justify-content: space-evenly;
}

.lsidemenu-flexbox   {

}

.rsidemenu-flexbox  {
}

.lsidemenu-flexbox, .rsidemenu-flexbox {
    padding: 5px;
}

.flexbox-item   {
    display: flex;
    flex-direction: column;
}

img   {
    height: auto;
    max-width: 100%;
}

.img-flexbox    {
    display: flex;
    justify-content: center;
    min-width: 350px;
}




@media screen and (max-width: 600px) {
    .rsidemenu-flexbox p {
        display: none;
    }
}

@media screen and (max-width:450px) {
    .lsidemenu-flexbox p {
        display: none;
    }    
}