<% content_for :title do  %>
    Adding adblock | Scuffed Guides
<%end%>

<%= render "header"%>

<div class="flexbox-content">
    <div class="lsidemenu-flexbox">
            <ul id="leftnavmenu">
                <li>block that has links</li>
                <li>home link</li>
                <li>link link link</li>
                <li>link link link</li>
            </ul>
    </div>

    <div class="flexbox-item">


        <h2>Adding adblock</h2>
        <p>In this guide I'm gonna go over how to add adblock</p>
        <p>At the bottom of the page there is a short explanation on why I recommend adding adblock.</p>
        <p><strong>note:</strong> I'm not gonna get into the gray area surrounding adblock, but I will mention it is frown upon by some people. 
        With that out of the way, let's get started.</p>
        <div class="row-dotted-line"></div>

        <h3>1. Get to the chrome web store</h3>
        
        <div class="ul-box">
            <ul>
                <li>Launch the chrome browser, if you're viewing this website through chrome press ctrl+t to open a new tab.</li>
                <li>On the new tab there will be an extensions shortcut you'll want to click it.</li>
                <li><strong>If</strong> your tab doesn't include the extensions shortcut <a href>Click here</a> for alternative way to get to extensions.</li>
            </ul>
        </div>

        <div class="img-flexbox">
            <%= image_tag "UOsettingschrome1", class: "flexbox-ite"%>
        </div>

        <div class="row-dotted-line"></div>

        <h3>2. Selecting the correct extension</h3>
        <ul>
            <li>You should now be on the home page of the chrome web strore. On the the top left you'll see a search bar, in it type uBlock Origin. 
            You'll get a list of mixed results, make sure to select the one with the name spelled exactly as uBlock Origin and the emblem matches the one in the picture below.</li>
            <li>Now that you've selected the correct extension, your current page should look similar to the one in the picture below. <strong>It is important that the extension is offered by Raymond Hill</strong>. 
            You'll verify that by looking under Additional information on the page, I added paranthesis around it on the picture below.</li>
            <li>All that's left to do is click the blue add to chrome button on top right.</li>
        </ul>

        <div class="img-flexbox">
            <%= image_tag "UOsettingschrome2", class: "flexbox-ite"%>
        </div>

        <div class="row-dotted-line"></div>

        <p>
            That's it, you've now added adblock to chrome.
        </p>

        <h4>Summary</h4>
            <p>Adblock is used to block ads on a website. uBlock Origin by defualt does a good job at blocking ads, despite some ads still getting through. 
            It can affect the functionality on some websites by blocking needed information so I do recommend getting familiar with how to disable it.<br><br>
            I recommend adblock because it makes browsing safer. Often times when you search without adblock the first link will be a ad link, 
            and sometimes ad links can be malicious.
            </p>

        <p>
            My settings and relative information.
            <ul>
                <li>uBlock Origin with defualt settings.</li>
            </ul>
        </p>

    </div>

    <div class="rsidemenu-flexbox">
        <p>block that has links<br>
        home link<br>
        link link link<br>
        link link link<br>
    </div>

</div>

<div class="footer">
    <p>missing</p>
</div>
