<% content_for :title do  %>
    Display settings | Scuffed Guides
<%end%>

<div>
    <header>
        <h1>Display Settings</h1>
    </header>
</div>


<div class="flexbox-content">
    <div class="lsidemenu-flexbox">
            <p>block that has links<br>
            home link<br>
            link link link<br>
            link link link<br>
    </div>

    <div class="flexbox-item">
        <button type="button">Nav</button>
        
            <h2>1. Get to your settings</h2>
            <p>
                Click your WIN key, it will pull up your start menu. <br> On the start menu you wil see a cog/gear click it to get to the settings.
            </p>

        <div class="img-flexbox">
            <%= image_tag "settings.png", class: "flexbox-ite"%>
        </div>
    </div>

    <div class="rsidemenu-flexbox">
            <p>block that has links<br>
            home link<br>
            link link link<br>
            link link link<br>
    </div>

</div>