<% content_for :title do  %>
    Home | Scuffed Guides
<%end%>

<div>
    <header>
        <h1>GreeNerd guides</h1>
    </header>
</div>

<div class="flexbox-content">

    <div class="rsidemenu-flexbox">
            <p>block that has links<br>
            home link<br>
            link link link<br>
            link link link<br>
    </div>

    <div class="flexbox-item">
            <div id="home-image" class="img-flexbox">
                <%= image_tag "TBD.png"%>
            </div>

            <h3>General changes</h3>
            <ul>
                <li>
                    <p>How to set your monitor to it's highest refresh rate.</p><a href="/display_settings/"> Display Settings - Windows 10</a>
                </li>

                <li>
                    <p>How to disable Xbox gamebar.</p><a href="/disabling_gamebar"> Disabling Gamebar</a>
                </li>

                <li>
                    <p>How to set up adblock on your favorite browser.</p><a href="/adding_adblock">Adding adblock</a>
                </li>
            </ul>
    </div>

    <div class="rsidemenu-flexbox">
            <p>block that has links<br>
            home link<br>
            link link link<br>
            link link link<br>
    </div>

</div>