<div class="flexbox-item flexbox-item-header">
    <h1>Scuffed Guides</h1>
</div>

<div class="flexbox-item flexbox-item-text">
    <h2>General changes</h2>
    <ul>
        <li>
            <p>Setting your monitor to it's highest refresh rate.</p><a href="/display_settings/"> Display Settings</a>
        </li>

        <li>
            <p>Step by step on how to disable Xbox gamebar.</p><a href="/disabling_gamebar"> Disabling Gamebar</a>
        </li>
    </ul>
</div>
